<div
  class="w-full bg-dark_blue-500 dark:bg-dark-gray-500 flex justify-between p-56 pt-16 mx-0"
>
  <div class="">
    <h1 class="text-white-500 font-medium">
      <a href="">ProfSession.hu</a>
    </h1>
    <!--TODO Mailto-->
  </div>
  <div class="">
    <h1 class="text-white-500 font-medium pb-2">Kérdése van?</h1>
  </div>
  <div class="">
    <h1 class="text-white-500 font-medium pb-2">Feltételek</h1>
  </div>
  <div class="">
    <h1 class="text-white-500 font-medium pb-2">Készítők</h1>
    <h2 class="text-white-500 font-normal">Jáger Péter</h2>
    <h2 class="text-white-500 font-normal">Czuppon Pál Balázs</h2>
    <h2 class="text-white-500 font-normal">Nagy Dávid István</h2>
  </div>
</div>
<div class="w-full bg-dark_blue-500 dark:bg-dark-gray-500">
  <span
    class="bg-dark_blue-500 dark:bg-dark-gray-500 text-white-500 font-medium px-4 py-2 mx-auto"
  >
    {{ today | date }}
  </span>
</div>
