<div
  class="bg-white-50 bg-white-500 dark:bg-dark_blue-500 flex justify-between p-56 pt-32"
>
  <div class="flex flex-col">
    <h1 class="text-9xl text-dark_blue-500 dark:text-white-500 pb-3">
      ProfSession
    </h1>
    <h2 class="text-4xl text-left text-dark_blue-500 dark:text-white-500">
      Állás keresés, ahogy neked kényelmes.
    </h2>
  </div>
  <div class="flex gap-8 flex-col justify-center items-center pt-8">
    <a
      href=""
      class="w-70 min-w-60 text-center p-2 bg-yellow-500 text-white-500 border-0 rounded-sm dark:bg-dark_red-500 dark:text-white-500 text-3xl"
      >Regisztrálj</a
    >
    <a
      href="/search"
      class="w-70 min-w-60 text-center text-3xl p-2 border-yellow-500 border-5 text-yellow-500 rounded-sm dark:border-white-500 dark:text-white-500 pl-3"
      >Keress
      <mat-icon class="text-xl">double_arrow</mat-icon>
    </a>
  </div>
</div>
<div class="bg-white-500 dark:bg-dark_blue-500 flex justify-between p-56 pt-8">
  <div class="grid grid-cols-4 gap-10 w-full">
    <div class="bg-dark_blue-500 rounded-2xl shadow-2xl h-50 col-span-4 p-10 text-center dark:bg-dark-gray-500">logos</div>
    <div class=" bg-light_blue-500 text-white-500 dark:bg-dark-gray-500 shadow-2xl font-medium text-justify rounded-2xl col-span-2 row-span-2 p-10">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia laborum
      amet aspernatur praesentium voluptas, quis aperiam ipsam doloribus ex
      facere necessitatibus repellat doloremque cumque laboriosam distinctio
      omnis. Ullam, eligendi aperiam! At, amet consequatur? Quibusdam corporis
      delectus optio dicta, maxime vitae natus rem tenetur culpa reprehenderit
      eligendi provident dolorum illo, debitis architecto quisquam! Blanditiis
      voluptate corporis tenetur recusandae in, sit eaque. Est at asperiores
      voluptate ut voluptas ex. Iure eligendi, eos in ea explicabo nemo
      consectetur voluptas, asperiores quaerat, odit quod eaque commodi numquam
      labore maxime molestias corporis! Quisquam, sequi ipsum! Exercitationem
      explicabo voluptatum sit tempore adipisci aut minus accusamus deserunt,
      pariatur dolore sequi nisi officiis! Eligendi assumenda placeat quia omnis
      laboriosam quisquam facere quidem, soluta consectetur, maxime fugiat, quod
      sapiente.
    </div>
    <div class="bg-dark_blue-500 shadow-2xl font-medium text-justify text-white-500 dark:bg-dark_red-500 rounded-2xl h-75 col-span-2 p-10" >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
      consequatur itaque voluptatum quod debitis error reprehenderit, veritatis
      laborum, at enim soluta quibusdam eveniet repellendus optio nobis iste
      tenetur excepturi reiciendis! Omnis fuga excepturi eum pariatur error ex
      at deserunt cumque culpa! Sapiente omnis repellat vero rerum temporibus
      ratione quas earum est, illum quam nemo quo minus nulla obcaecati expedita
      voluptate!
    </div>
    <div class="bg-dark_blue-500 shadow-2xl font-medium text-justify text-white-500 dark:bg-dark_red-500 rounded-2xl h-75 p-10" >
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum sequi illum
      asperiores consequatur odit eius. Consequuntur placeat natus dignissimos
      tenetur reiciendis eius hic eveniet sapiente, fugiat architecto numquam
      quod. Cum.
    </div>
    <div class="bg-light_blue-500 text-white-500 dark:bg-dark-gray-500 shadow-2xl font-medium text-justify rounded-2xl h-75 p-10">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa esse
      aliquid enim, fugit, excepturi accusamus velit harum alias ut perspiciatis
      voluptatum at voluptatem, vero mollitia? Consequatur ratione tempora atque
      voluptatum!
    </div>
    <div class="border-dark_blue-500  shadow-2xl text-dark_blue-500 font-semibold text-justify dark:text-white-500 dark:border-white-500 border-4 rounded-2xl h-75 col-span-4 row-span-4 p-10" >
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus tempore consequuntur culpa dolorem beatae similique deserunt magni voluptate consectetur facere porro, tempora temporibus expedita reiciendis enim eligendi minima accusantium? Sequi?
      Culpa, delectus iure exercitationem hic placeat molestias velit laborum ut id minima eos quod beatae autem voluptate ducimus fugit similique necessitatibus qui? Commodi dolore provident, magnam voluptatum quibusdam sint. Explicabo!
      Nam ab, quae veniam eligendi ipsam iusto odit provident cupiditate placeat nesciunt! Consequuntur error, eveniet laudantium quidem ratione voluptate nemo eos nam a ipsa iusto id. Voluptas dolore rerum asperiores!
      Quis incidunt quasi eaque itaque molestiae porro ea, facere minima nam odio cupiditate ab tenetur ipsa explicabo accusamus. Nulla ipsum necessitatibus in laudantium culpa commodi sit nostrum harum excepturi cum.
      Doloribus modi expedita perferendis quia laborum minus dolor quae. Rem culpa maiores iste maxime. Numquam, officiis. Exercitationem culpa quaerat quos? Alias illo nisi ipsa accusamus nesciunt eligendi pariatur! Voluptatum, cumque?
    </div>
  </div>
</div>
