<section class="flex flex-col items-start gap-4">
  <mat-icon class="text-dark_blue-500 fill-dark_blue-500 scale-[550%] translate-5 ml-5"
    >account_circle</mat-icon
  >
  <div class="text-base pt-14">
    <h1 class="text-dark_blue-500 font-medium">
      Email cím: <span class="text-dark_red-500">{{ allaskereso_data.email }}</span>
    </h1>
    <h1 class="text-dark_blue-500 font-medium">
      Felhasználó neve:
      <span class="text-dark_red-500">{{ allaskereso_data.nev }}</span>
    </h1>
    <h2 class="text-dark_blue-500 font-medium">
      Végzettség:
      <span class="text-dark_red-500">{{ allaskereso_data.vegzettseg }}</span>
    </h2>
    <p class="text-dark_blue-500 font-medium">
      Státusz:
      <span class="text-dark_red-500">{{ allaskereso_data.statusz }}</span>
    </p>
  </div>
</section>