<form class="flex flex-col items-center gap-10 w-full" [formGroup]="login_form" (ngSubmit)="submit()">
  <fieldset
    class="w-[80%] text-dark_blue-500 p-1 relative border-b-2 group invalid:border-dark_red-500 invalid:text-dark_red-500 flex items-end"
  >
    <input
      type="text"
      placeholder="Email"
      class="h-[1lh] outline-none pl-8 text-medium focus:outline-0 peer text-dark_blue-500 w-full"
      minlength="2"
      formControlName="email"
    />
    <mat-icon class="absolute left-1 top-[0.625lh] transform -translate-y-1/2">
      alternate_email
    </mat-icon>
  </fieldset>

  <fieldset
    class="w-[80%] text-dark_blue-500 p-1 relative border-b-2 group invalid:border-dark_red-500 invalid:text-dark_red-500 flex items-end"
  >
    <input
      type="text"
      placeholder="Jelszó"
      class="h-[1lh] outline-none pl-8 text-medium focus:outline-0 peer text-dark_blue-500 w-full"
      minlength="2"
      formControlName="password"
    />
    <mat-icon class="absolute left-1 top-[0.625lh] transform -translate-y-1/2">
      lock
    </mat-icon>
  </fieldset>

  <div class="flex justify-center align-middle gap-7 text-white-500">
    <button
      type="submit"
      class="bg-dark_red-500 text-white-500 p-2 pl-6 pr-8 font-medium text-xl rounded-xl cursor-pointer flex justify-center gap-1.5"
      >
      <mat-icon>search</mat-icon>
      Regisztráció
    </button>
    
  </div>
</form>
