<div class="fixed inset-0 bg-dark_blue-500/80 bg-opacity-50 z-[1000] ">
  <div class="absolute p-10 bg-white-500 top-[50%] left-[50%] -translate-[50%] z-100 opacity-100 rounded-2xl">
    <button class="absolute top-3 right-3 text-dark_blue-500 hover:text-dark_red-500 hover:cursor-pointer"
    (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <h1 class="text-center text-dark_blue-500 font-medium text-2xl pb-4">Város Hozzáadása</h1>
    <form class="grid grid-cols-2 gap-8" [formGroup]="new_city_form">
      <fieldset class="col-span-2 p-1 border-b-dark_blue-500 border-b-2">
        <input type="text" formControlName="orszag"
        min="2"
        placeholder="Ország"
        class="text-dark_blue-500 font-medium focus:outline-0">
        
      </fieldset>

      <fieldset class="border-b-dark_blue-500 border-b-2">
        <input type="text" formControlName="megye"
        min="2"
        placeholder="Megye"
        class="text-dark_blue-500 font-medium focus:outline-0"></fieldset>

      <fieldset class="border-b-dark_blue-500 border-b-2">
        <input type="text" formControlName="varos"
        min="2"
        placeholder="Város"
        class="text-dark_blue-500 font-medium focus:outline-0"></fieldset>

      <input type="submit" (click)="apply()" value="Hozzáad" class="col-span-2 focus:outline-0 hover:cursor-pointer w-fit ml-auto mr-auto bg-dark_red-500 text-white-500 p-2 pl-6 pr-8 font-medium text-xl rounded-xl">
    </form>
  </div>
</div>