<app-add-city-dialog [appDisplay]="showAddCity" (show)="showAddCity = $event" (load)="loadcities()"></app-add-city-dialog>
<app-add-category-dialog [appDisplay]="showAddCategory" (show)="showAddCategory = $event" (load)="loadcategories()"></app-add-category-dialog>

<div
  class="bg-white-50 bg-white-500 dark:bg-dark_blue-500 flex flex-col items-center gap-8 justify-center p-56 pt-32"
>

  <div class="bg-white-500 p-4 rounded-2xl flex flex-col w-[80%]">
    <h1 class="text-dark_blue-500 font-medium text-2xl pb-10">
      Hírdesse meg álláslehetőségét!
    </h1>
    <form
      class="w-full grid grid-cols-2 gap-4"
      [formGroup]="ad_form"
      (ngSubmit)="submit()"
    >
      <fieldset
        class="w-full text-dark_blue-500 p-1 relative border-b-2 group invalid:border-dark_red-500 invalid:text-dark_red-500 flex items-end"
      >
        <input
          type="text"
          placeholder="Hírdetés Címe"
          class="h-[1lh] outline-none text-medium focus:outline-0 peer text-dark_blue-500 w-full"
          minlength="2"
          formControlName="cim"
        />
      </fieldset>
      
      <fieldset
        class="w-full text-dark_blue-500 p-1 relative group invalid:border-dark_red-500 invalid:text-dark_red-500 flex items-end row-span-5 outline-dark_blue-500 outline-2 rounded-2xl"
      >
        <textarea 
          placeholder="Leírás"
          class="p-0.5 h-full resize-none w-full hover:group:cursor-pointer active:outline-0 focus:outline-0"
          formControlName="leiras"
        ></textarea>
      </fieldset>

      <fieldset
        class="w-full text-dark_blue-500 p-1 relative border-b-2 group invalid:border-dark_red-500 invalid:text-dark_red-500 flex items-end"
      >
        <input
          type="text"
          placeholder="Követelmények"
          class="h-[1lh] outline-none text-medium focus:outline-0 peer text-dark_blue-500 w-full"
          minlength="2"
          formControlName="kovetelmenyek"
        />
      </fieldset>

      <fieldset
        class="w-full text-dark_blue-500 p-1 relative border-b-2 group invalid:border-dark_red-500 invalid:text-dark_red-500 flex items-end"
      >
        <input
          type="number"
          placeholder="Bérezés"
          class="h-[1lh] outline-none text-medium focus:outline-0 peer text-dark_blue-500 w-full"
          min="100000"
          formControlName="ber"
        />
      </fieldset>

      <fieldset class="flex gap-4 items-center col-start-2">
        <select matNativeControl formControlName="kategoria" class="inline-block w-full px-4 py-2 text-sm text-dark_blue-500 border-2 border-dark_blue-500 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-dark_red-500 focus:border-dark_red-500 outline-dark_blue-500 focus:outline-0">
          <option value="" disabled selected hidden>Kategória</option>
          @for(category of categories; track category){
            <option value="{{category.NEVE}}">{{category.NEVE}}</option>
          }
        </select>
        <div class="text-dark_blue-500 hover:text-dark_red-500 flex flex-col align-center items-center">
        <mat-icon class=" hover:cursor-pointer" (click)="showAddCategory = true">add</mat-icon>
        </div>
      </fieldset>

      <app-key-word-form (final_key_words)="key_words=$event"></app-key-word-form>

      <fieldset class="flex gap-4 items-center col-start-2">
        <select matNativeControl formControlName="varos" class="inline-block w-full px-4 py-2 text-sm text-dark_blue-500 border-2 border-dark_blue-500 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-dark_red-500 focus:border-dark_red-500 outline-dark_blue-500 focus:outline-0">
          <option value="" disabled selected hidden>Város</option>
          @for(varos of cities; track varos){
            <option value="{{varos.VAROS}}">{{varos.VAROS}}</option>
          }
        </select>
        <div class="text-dark_blue-500 hover:text-dark_red-500 flex flex-col align-center items-center">
        <mat-icon class=" hover:cursor-pointer" (click)="showAddCity = true">add</mat-icon>
        </div>
      </fieldset>


      <div class="pt-10 col-span-2 flex justify-end">
        <button
          type="submit"
          class="bg-dark_red-500 text-white-500 p-2 pl-6 pr-8 font-medium text-xl rounded-xl cursor-pointer flex justify-center gap-1.5"
        >
          <mat-icon>done_all</mat-icon>
          Tedd közzé!
        </button>
      
      </div>
    </form>
  </div>
  <app-error-msg
  [error_msg]="error_msg"
  [appDisplay]="show_error"
  ></app-error-msg>

  <app-success-msg
  [success_msg]="success_msg"
  [appDisplay]="show_success"
></app-success-msg>

</div>
